[submodule "1 semester/29 (1 semester only)"]
	path = 1 semester/29 (1 semester only)
	url = https://github.com/theammir/asd-labs
[submodule "2 semester/28 (2 semester only)"]
	path = 2 semester/28 (2 semester only)
	url = https://github.com/theammir/asd-labs
